<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <header
    th:fragment="header"
    id="header"
    class="flex-col bg-[#F8F8F8] h-[80vh] w-screen"
    role="banner"
  >
    <section
      id="banner-container"
      class="flex p-20 items-center content-center w-screen h-30"
      role="banner-container"
    >
      <div class="flex items-center content-center w-screen h-30">
        <a href="" class="text-orange-700/50 font-syne text-4xl">
          MARQUISWILLIAMS
        </a>
        <div class="hidden">
          <a class="language" href="#"> :: before EN :: after </a>
          <ul class="language-menu">
            <li class="language-menu-item">English (EN)</li>
            <li class="language-menu-item">Español (ES)</li>
            <li class="language-menu-item">Thai (THA)</li>
            <li class="language-menu-item">Portugal (BR)</li>
            <li class="language-menu-item">Italiano (IT)</li>
            <li></li>
          </ul>
        </div>
      </div>

      <div></div>
      <div></div>
    </section>
  </header>
</html>
