<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" class="bg-violet-900">
  <header
    th:fragment="header"
    id="header"
    class="flex-col bg-[#f8f8f8] h-[80vh] w-screen"
    role="banner"
  >
    <section
      id="banner-container"
      class="flex items-center content-center w-screen"
      role="banner-container"
    >
      <div class="flex-col justify-center items-center w-screen text-center">
        <div
          class="flex justify-center items-center text-center pt-28 pb-11 shrink-0"
        >
          <a href="" class="text-violet-950/80 font-syne text-4xl text-center">
            MARQUISTHECODER
          </a>
          <span class="text-3xl text-black/20 mx-2 font-thin"> | </span>
          <a class="language text-sm font-syne text-black/80" href="#">EN</a>
        </div>
        <span class="font-thin text-p-800/50">___________</span>

        <div class="flex-col w-screen shrink-0">
          <h1 class="text-7xl font-arimo font-bold text-[#42464A] pt-11">
            Do you need a website?
          </h1>
          <p
            class="pt-8 font-open text-[#42464A]/90 font-light text-xl max-w-2xl"
          >
            Hey, I’m Neil Patel. I’m determined to make a business in San
            Antonio successful. My only question is, will it be yours?
          </p>
        </div>

        <div class="hidden">
          <ul class="language-menu">
            <li class="language-menu-item">English (EN)</li>
            <li class="language-menu-item">Español (ES)</li>
            <li class="language-menu-item">Thai (THA)</li>
            <li class="language-menu-item">Portugal (BR)</li>
            <li class="language-menu-item">Italiano (IT)</li>
            <li></li>
          </ul>
        </div>
      </div>
      <div></div>
      <div></div>
    </section>
  </header>
</html>
