<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <header
    th:fragment="header"
    id="header"
    class="flex-col bg-[#F8F8F8] h-[80vh] w-screen"
    role="banner"
  >
    <section
      id="banner-container"
      class="flex items-center content-center w-screen h-30"
      role="banner-container"
    >
      <div class="flex items-center content-center w-screen h-30">
        <a href="">Marquis The Coder</a>
      </div>
      <div></div>
      <div></div>
    </section>
  </header>
</html>
