<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

  <main th:fragment="main" id="main" class="main" role="main">
    <section
      id="quote-advertisement"
      class="quote-advertisment flex-col items-center content-center h-fit min-h-screen"
      role="advertisment"
    >
      <div class="flex justify-center w-[100vw]">
        <h1
          class="text-center text-white font-open font-light text-4xl max-w-4xl pt-24"
        >
          Are You In Need Of A Website?  
          <span>
            <a class="text-white font-open font-extrabold text-4xl hover:underline" href="#">Try Our FREE Quoter! </a> 
          </span> 
        </h1>
      </div>
      <div class="flex justify-center w-[100vw]">
        <h2
          class="text-center mx-auto  pb-12 font-open text-white/80 text-2xl pt-4"
        >
          Stop wasting money and unlock the hidden potential of your
          business.
        </h2>
      </div>
      <div class="flex justify-center w-[100vw] ">
        <div class="w-[80vw]">

        <img class="mx-auto" th:src="@{imgs/site_map_2.png}" alt="" />
        </div>
      </div>

       <div class="flex justify-center w-screen pt-8 pb-10">
            <input
              type="text"
              placeholder="youremail@example.com"
              class="border-none w-96 h-16 text-2xl"
            />
            <button
              id=""
              class="bg-violet-950/70 py-2 px-3 text-white font-open font-bold hover:bg-white hover:text-violet-950/70" 
            > 
              GET FREE QUOTE
            </button>
    </section>

    <section id="who-is-marquis" class="who-is-marquis min-w-[100vh] min-h-[90vh] bg-[#f8f8f8]" role="introducing-myself">
      <div class="flex min-h-[90vh] min-w-[100%]">
        <div class="introduction pt-32 flex-col min-h-[100%] min-w-[50%] ">
            <div class="flex w-full justify-center py-10">

            <h2 class="font-open font-light text-4xl"> Who is <span class="font-bold">MarquisTheCoder</span></h2>
            </div>
            <div class="flex justify-center">
              <p class="text-center px-10 font-thin font-open text-[1.2rem] pb-10">
                He is a New York Times Bestselling author. The Wall Street Journal calls him a top influencer on the web, Forbes says he is one of the top 10 marketers, and Entrepreneur Magazine says he created one of the 100 most brilliant companies. He was recognized as a top 100 entrepreneur under the age of 30 by President Obama and a top 100 entrepreneur under the age of 35 by the United Nations.</p> 
            </div>
            <div class="flex justify-center">

            <button class="bg-violet-900/70 text-white px-4 py-3 font-open font-bold">YES, I WANT TO WORK WITH MARQUIS</button>

            </div>
        </div>
        <div class="min-h-[100%] min-w-[50%] relative">
          <div class="absolute bottom-0 right-0">
            <img src="imgs/me_no_bg_2.png" alt="">
          </div>
        </div>
      </div>
    </section>
  </main>
</html>
